.stats-boxes {
  text-align: center;
}

.stats-box-row-1 {
  margin-top: 48px;
  margin-bottom: 24px;
}

.stats-box-right {
  margin-left: 20px;
}

.stats-box {
  height: 136px;
  width: 220px;
  border-radius: 10px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
}

.stats-box-heading {
  height: 32px;
  width: 200px;
  color: #87878a;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 24px;
  top: 27px;
  position: relative;
}

.stats-box-info {
  height: 38px;
  width: fit-content;
  color: #131242;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 38px;
  position: relative;
  top: 50px;
  margin-left: 24px;
}

.loader {
  text-align: center;
  margin-top: 48px;
}

.tweet-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
